body {
    margin-top: 30px;
    color: #f2f2f2;
    margin: 1em;
    position: relative;
    padding-bottom: 150px;
    box-sizing: border-box;
}

.header {
    height: 100px;
    background-color: #923158;
    text-align: left;
    padding: 1em;
    color: #f2f2f2;
    
}

.header a{
    color: #f2f2f2;
    text-decoration: none;
}

.header a:hover{
    text-decoration: underline;
}
.menu {
    height: 50px;
    background-color: #6E1237;
    text-align: left;
    padding: 1em;
    margin-top: 5px;
}

.aside {
    float: left;
    display: inline;
    width: 17%;
    height: 400px;
}

.aside-1 {
    
    background-color: #923158;
    text-align: left;
    padding: 1em;
    height: 40%;
    
    
}

.aside-2 {
    background-color: #923158;
    text-align: left;
    padding: 1em;
    margin-top: 5px;
    height: 50%;
   
}

.article{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    height: 500px;
    width: 100%;
}
.main {
    display: inline;
    background-color: #923158;
    padding: 1em;
    margin:0 auto;
    width: 64%;
    height: 100%;

}

.section-1 {
    background-color: #DB92AF;
    padding: 5px;
    height: 50px;
    width: 80%;
    margin: 5px; 

}

.section-2 {
    background-color: #DB92AF;
    padding: 5px;
    height: 50px;
    width: 80%;
    margin: 5px; 

}

.aside-3 {
    
    background-color: #923158;
    width: 15%;
    text-align: center;
    vertical-align: middle;
    line-height: 1em;
    padding: 5px;
    float: right;
    height: 60%;
}

.footer {
    background-color: #6E1237;
    position: absolute;
    padding: 10px;
    bottom: 0;
    height: 90px;
    width: 100%;
}